/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1{
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}

p, h2, h2, h3, h4, h5 {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
}      

#navlogo {
   filter: brightness(0) invert(1);
   opacity: 90%;
}


#BgNav {
   background-color: #0e6876;
}

#BodyColor {
   background-color: #192B42;
}


#btnColor {
   color: aliceblue ;
}

